/* Ajuste TCC */
/*Fixando o navbar no local e aumentando sua proporcao*/
.navbar {
	position: inherit !important;
	width: 100%;
}
/* Container da pagina */
.container-pagina {
	margin: auto;
	margin: 1% !important;
	margin-bottom: 4% !important;
}
/* Display-4 */
.display-4 {
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}
/* Ajustar center das tabelas */
table {
	text-align: center;
	table-layout: fixed;
	word-break: break-all;
	margin-bottom: 0px !important;
}
/* Botao transparente*/
.btn-transparente {
	background: transparent !important;
	border: transparent !important;
	padding: 0px !important;
	padding: 0.5rem 0rem 0.5rem 0rem !important;
}
/* sumir botao no grupo dos classificados*/
.sumir-transparente-jump {
	display: none;
}
/* Footer das páginas*/
footer p {
	margin: 0px !important;
	font-size: 14px;
	color: white;
}
footer .container {
	margin: 0px !important;
}
footer {
	position: fixed !important;
	bottom: 0px !important;
	margin: 0px !important;
	width: 100% !important;
}
/* Listas - Ajustando a apresentacao dos resultados finais*/
ol, ul {
    list-style: disc;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 2%;
}
/* Ajuste coluna da tabela para melhor visualizacao*/
.ajuste_coluna {
	width: 15%;
}
.ajuste_texto_coluna {
	text-align: start;
}
/* Espacamento de colunas */
.espacamento {
	width: 33%;
}
/* Imagem */
.img {
	max-width: 280px;
	padding: 10px;
}
/* Ajuste quadros exibir saida analise*/
.row {
	margin: 0px;
}
.row > .col-sm-4{
	margin: auto !important;
	padding: 10px;
}
/*form-pag-controle*/
.form-pag-controle {
	margin: 0px !important;
	margin-right: 10px !important;
	margin-left: 10px !important;
	display: inline !important;
	font-size: 18px;
	text-decoration: underline;
}
/*h2-botton*/
.button-h2-decoration {
	border: none;
	background: transparent;
	font-size: 28px;
}
/*caixa-menu*/
.caixa-menu {
	margin: 20px !important;
}